<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <!-- Defines as low priority the "org.eclipse.bluesky.html" content type in case of Eclipse BlueSky is not installed
        in order to "org.eclipse.lsp4e.freemarker" content type is valid -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="html"
            id="org.eclipse.bluesky.html"
            name="HTML (low)"
            priority="low">
      </content-type>
   </extension>
   
   <!-- Freemarker Language -->   
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.bluesky.html"
            file-extensions="ftl"
            id="org.eclipse.lsp4e.freemarker"
            name="FreeMarker"
            priority="normal">
      </content-type>
   </extension>
      
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.freemarker"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
      
   <extension
         point="org.eclipse.lsp4e.languageServer">
      <server
            class="org.eclipse.lsp4e.freemarker.FreemarkerLanguageServer"
            id="org.eclipse.lsp4e.freemarker"
            label="Freemarker Language Server" >
      </server>
      <contentTypeMapping
            contentType="org.eclipse.lsp4e.freemarker"
            id="org.eclipse.lsp4e.freemarker">
      </contentTypeMapping>
   </extension>
   
   <extension
         point="org.eclipse.tm4e.registry.grammars">
      <grammar
            path="./syntaxes/ftl.tmLanguage"
            scopeName="text.html.ftl">
      </grammar>
      <scopeNameContentTypeBinding
            contentTypeId="org.eclipse.lsp4e.freemarker"
            scopeName="text.html.ftl">
      </scopeNameContentTypeBinding>
   </extension>

   <extension
         point="org.eclipse.tm4e.languageconfiguration.languageConfigurations">
      <languageConfiguration
            contentTypeId="org.eclipse.lsp4e.freemarker"
            path="language-configurations/language-configuration.json">
      </languageConfiguration>
   </extension>

   <extension
         point="org.eclipse.tm4e.ui.snippets">
      <snippet
            name="Freemarker Sample"
            path="snippets/sample.ftl"
            scopeName="text.html.ftl">
      </snippet>
   </extension>

<!-- =========================================================================== -->
<!-- Preferences                                                                 -->
<!-- =========================================================================== -->

	<!-- Freemarker preference pages -->
    <extension
       point="org.eclipse.ui.preferencePages">  
       <!-- Freemarker root preferences page -->  
       <page
	          class="org.eclipse.lsp4e.freemarker.ui.preferences.FreemarkerMainPreferencePage"
	          id="org.eclipse.lsp4e.freemarker.preferences"
	          name="%FreemarkerMainPreferencePage.name"/>
	    <!-- Freemarker Templates preferences page -->
     	<page
              category="org.eclipse.lsp4e.freemarker.preferences"
              class="org.eclipse.lsp4e.freemarker.ui.preferences.FreemarkerTemplatesPreferencePage"
              id="org.eclipse.lsp4e.freemarker.preferences.templates"
              name="%FreemarkerTemplatesPreferencePage.name">
     </page>	          
   </extension>

<!-- =========================================================================== -->
<!-- Templates                                                                   -->
<!-- =========================================================================== -->
 	<extension
       point="org.eclipse.ui.editors.templates">
        <contextType
              class="org.eclipse.lsp4e.freemarker.ui.templates.FreemarkerTemplateContextType"
              id="freemarkerTemplateContextType"
              name="%FreemarkerTemplateContext.name">
        </contextType>
        <include
              file="templates/templates.xml"
              translations="$nl$/templates/templates.properties">
        </include>
     </extension>
   
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.lsp4e.freemarker.ui.templates.FreemarkerTemplateCompletionProcessor"
            contentType="org.eclipse.lsp4e.freemarker">
      </contentAssistProcessor>
   </extension>
        
</plugin>
